*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    width: 100px;
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
}
.brand_name{
    position: relative;
    top: -60px;
    left: 85px;
    font-family: lobster;
    font-size:20px;
}
.navbar ul{
    float:right;
}
.nav_brand{
    display:inline-block;
}
.navbar ul li{
    display:inline-block;
    padding-top: 30px;
    padding-right: 40px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
}

@font-face {
    src: url(lobster/lobster-Regular.ttf);
    font-family:lobster;
}
.cart{
    position: relative;
    top:-18px;
    left: -7px;
    background-color: black;
    padding: 0px 5px;
    color: white;
    border-radius: 50%;
}
.navbar ul li a:hover{
    color: #3797b9;
    display: inline-block;
    transform: translate(4px,-5px);
    transition-duration: .5s;

}

.navbar{
    height: 90px;
}

/* service */
.service{
    display: grid;
    grid-template-columns:auto auto auto auto;
    background-color: #e2e8ea;
    padding-top: 50px;
    margin-top: 80px;
    padding-left: 40px;
    padding-bottom: 50px;
}
.service div p{
    display: inline-block;
    padding-left: 20px;
    line-height: 27px;
}
.service div p b{
    font-size: 20px;
}

/* footer */
.footer{
    background-color: #212529;
}

.footer_nav{
    text-decoration: none;
    color: white;
    padding-top: 50px;
    display: inline-block;
    margin:0px 20px ;
}

.designed_by{
    color: white;
    margin-top: 20px;
}

.footer_icon{
    color:white;
    margin: 20px 10px 0px ;
    display:inline-block;
    padding-bottom: 20px;
}

/* end */

/* about  */
.firstabout{
    text-align: center;
    background-color: #e2e8ea;
    padding: 50px;
    margin-top: 10px;
}
.about{
    display: inline-block;
}
.about img{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
.headerone{
    position: absolute;
    top:400px;
    right: 50px;
}
.headerone p{
    color:#5ca675;
    padding-left: 20px;
    font-family: lobster;
}
.headeredit{
    font-family: lobster;
    font-weight: unset;
    padding-bottom: 10px;
    font-size:50px; 
    color:#238cbb;
}
.ourone{
    font-family: lobster;
    margin-left: 10px;
    color:#eaae19;
}
.hrone{
    content: url(image/line.webp);
    width: 200px;
    padding-left: 50px;
    margin-bottom: 30px;
}
.story{
    margin-left: 80px;
}
.story p{
    color:#5ca675;
}

.image{
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 100%;
    border-color: #bcefce;
    border-width: 5px;
    border-style: solid;
    filter: contrast(1);  
    transition-property: all;
    transition-duration: 800ms;
    cursor:pointer;
}
.image:hover{
    transform: rotate(360deg);
    filter:grayscale(100%);
}
.grid{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-right: 100px;
    margin-left: 100px;
    grid-gap: 20px;    
}
.part{
    display:relative;
    margin-top: 50px;
    margin-left: 100px;
    color:#d0a2b6;
    font-size:25px;
    margin-bottom: -50px;
}
.hr{
    width:1800px;
    margin-left:60px;
    border:1px solid #eaae19;
}
.name{
    display:absolute;
    margin-left:245px;
    margin-top:20px;
}
.name1{
    display:absolute;
    margin-left:820px;
    margin-top:-20px;
}
.name2{
    display:absolute;
    margin-left:1395px;
    margin-top:-20px;
}
